.idea
venv
*/__pycache__/*
data/*
.ipynb_checkpoints/*
.eggs/*
anonlink_client.egg-info/*
dist/*
build/*
client.egg-info/*
docs/tutorial/*.json
docs/tutorial/*.csv
*/.DS_Store
*/*/.DS_Store
*/*/.ipynb_checkpoints/*
*.json
.DS_Store
docs/tutorial/data/*
docs/tutorial/__pycache__/*
.coverage
testResults.xml
coverage.xml
tests/test-output.xml
__pycache__/*

# readthedocs build
docs/_build/*
docs/_static/*
docs/_templates/*
docs/Makefile
docs/make.bat